:root {
  --header-text: "LinuxBiolinumORegular";
  --default-text: "Lato", sans-serif;
}

body {
  background-color: #eeeeee;
}
h1 {
  background-color: #eeeeee;
  text-align: center;
  font-family: var(--header-text);
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: var(--default-text);
  font-size: 22px;
  text-align: center;
}

.btn {
  font-family: var(--default-text);
  font-weight: bold;
  color: white;
  font-size: 12px;
  border: 2px black;
  border-style: solid;
  border-radius: 50%;
  padding: 25px;
  width: 100px;
  height: 100px;
  margin: auto;
}

.coded {
  font-family: var(--header-text);
  margin: 25px;
}

#headshot {
  border-radius: 40%;
}

#main_contact {
  font-family: var(--default-text);
  text-align: left;
}

#about_me_btn {
  background-color: #91612f;
}

#blog_button {
  background-color: #e7e9ec;
  color: black;
}

#contact_button {
  color: black;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  #main_contact {
    text-align: center;
  }
}
